.logo{
    display: flex;
}

.logo__image{
    margin-right: 20px;
}
.logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__name a {
    letter-spacing: 0.13em;
    text-transform: uppercase;
    text-decoration-line: none;
    color: var(--main-text-color);
}

.logo__name:first-child{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.logo__name:nth-child(2){
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}