@import './fonts';
@import './variables.css';
@import './buttons-style.css';
@import './container.css';
@import './header.css';
@import './logo.css';
@import './navigation.css';
@import './main.css';
@import './product-fetures.css';
@import './slider.css';

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}